In [1]:
import pandas as pd
import os
import json

In [2]:
DATA_DIR = 'data/'
data_data_dir = DATA_DIR + 'data/'
data_files = os.listdir(data_data_dir)
weather_files = os.listdir(DATA_DIR + 'weather_data/')

In [3]:
raw_df = pd.DataFrame()

for file_name in data_files:
    with open(data_data_dir+file_name, 'r') as f:
        try:
            _df = pd.DataFrame.from_records(json.loads(line) for line in f)
            raw_df = pd.concat([raw_df, _df])
        except:
            pass

In [4]:
import json
df = pd.DataFrame()
for col in raw_df.columns:
    df[col] = raw_df[col].apply(lambda x: x['s'])

df['time'] = df['time'].map(pd.to_datetime)
df.head()

,bike_numbers,date,num_bikes,num_racks,station,time
0,"[""""]",2019-08-29,0,11,Carrick Hill / St Patricks Church,2019-08-29 11:54:47.918721
1,"[""82985""]",2019-09-21,1,7,Antrim Road / Duncairn Centre,2019-09-21 13:14:47.274609
2,"[""""]",2019-09-21,0,14,Stranmillis,2019-09-21 13:14:47.274609
3,"[""""]",2019-09-18,0,14,Queens University / Botanic Gardens,2019-09-18 19:21:47.391493
4,"[""83164"", ""83140"", ""83108"", ""83030"", ""83264"", ...",2019-08-14,10,8,20368502,2019-08-14 18:08:47.393419

In [5]:
print(len(df))

2051616

In [6]:
stations = pd.DataFrame({'station': df['station'].unique()})

stations.head(100)

                                             station
0                  Carrick Hill / St Patricks Church
1                      Antrim Road / Duncairn Centre
2                                        Stranmillis
3                Queens University / Botanic Gardens
4                                           20368502
5   Girwood Community Hub / Cliftonville Park Avenue
6                                       Cotton Court
7                                           CS Lewis
8                                           20751801
9                                           20756545
10                                          20756307
11                     Grovsner Road / Servia Street
12                                          20368015
13                       Castle Place / Royal avenue
14                     Bankmore Square / Dublin Road
15                                   Titanic Walkway
16                        Royal Avenue / Castlecourt
17                                          20756044
18                          Gasworks (Cromac Street)
19                               College Square East
20                             Belfast City Hospital
21                 Victoria Square / Victoria Street
22               Queens University / University Road
23                     Mater Hospital / Crumlin Road
24                                          20368221
25                                        Falls Road
26                                          20754767
27                                    Botanic Avenue
28                                        Waterfront
29           Shankill Leisure Centre / Shankill Road
..                                               ...
70                                          20754974
71                                          Allstate
72                 St Georges Market / Cromac Square
73                  Ormeau Road / Rosetta Roundabout
74                                          20367707
75                                          20756473
76                                          20368793
77                                          20753582
78                                          20756719
79                                          20368431
80                                          20755087
81                     Ormeau Road / Somerset Street
82                                          20367963
83                                          20756503
84                                          20368833
85                                          20753602
86                                          20756762
87                                          20755194
88                                          20368866
89                                          20753840
90                                          20757725
91                                          20755301
92                                          20369116
93                                          20754036
94                                          20755396
95                                          20369168
96                                          20754188
97                                          20755478
98                                          20369200
99                                          20754306

[100 rows x 1 columns]

In [7]:
stations['odd'] = stations['station'].map(lambda x: x.isdigit())
stations['odd'].value_counts()

True     156
False     52
Name: odd, dtype: int64

In [8]:
list(stations[~stations['odd']]['station'])

['Carrick Hill / St Patricks Church',
 'Antrim Road / Duncairn Centre',
 'Stranmillis',
 'Queens University / Botanic Gardens',
 'Girwood Community Hub / Cliftonville Park Avenue',
 'Cotton Court',
 'CS Lewis',
 'Grovsner Road / Servia Street',
 'Castle Place / Royal avenue',
 'Bankmore Square / Dublin Road',
 'Titanic Walkway',
 'Royal Avenue / Castlecourt',
 'Gasworks (Cromac Street)',
 'College Square East',
 'Belfast City Hospital',
 'Victoria Square / Victoria Street',
 'Queens University / University Road',
 'Mater Hospital / Crumlin Road',
 'Falls Road',
 'Botanic Avenue',
 'Waterfront',
 'Shankill Leisure Centre / Shankill Road',
 'Odyssey / Sydenham Road',
 'City Hall',
 'Carslile Circus',
 'Arthur Street / Chichester Street',
 'Titanic Belfast Met',
 'Millfield / Divis Street',
 'Linenhall / Donegall Square South',
 'Great Victoria Street / Hope Street',
 'Donegall Quay',
 'Lanyon Station Mays Meadow',
 'Cathedral Gardens',
 'Royal Victoria Hospital',
 'Gasworks (Lagan Towpath)',
 'Connswater',
 'Fraser Pass',
 'Bradbury Place',
 'Alfred Street',
 'Skainos',
 'Ormeau Park',
 'Europa Bus Station / Blackstaff Square',
 'Corporation Square',
 'Allstate',
 'St Georges Market / Cromac Square',
 'Ormeau Road / Rosetta Roundabout',
 'Ormeau Road / Somerset Street',
 'BIKE 83315',
 'wickes car park',
 'Lisburn Road',
 '154-164 Ormeau Road, Belfast, BT7 1SQ',
 'BIKE 82862']

In [9]:
df['num_bikes_matches_bike_numbers'] = df['num_bikes'] == df['bike_numbers'].map(len)

In [10]:
df['num_bikes_matches_bike_numbers'].value_counts

<bound method IndexOpsMixin.value_counts of 0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
51586    False
51587    False
51588    False
51589    False
51590    False
51591    False
51592    False
51593    False
51594    False
51595    False
51596    False
51597    False
51598    False
51599    False
51600    False
51601    False
51602    False
51603    False
51604    False
51605    False
51606    False
51607    False
51608    False
51609    False
51610    False
51611    False
51612    False
51613    False
51614    False
51615    False
Name: num_bikes_matches_bike_numbers, Length: 2051616, dtype: bool>

In [11]:
target_station = 'Royal Victoria Hospital'
target = df[ df['station'] == target_station ].sort_values('time')

In [12]:
example_day = target[target['date'] == target['date'].iloc[0]]

In [13]:
example_day.head()

,bike_numbers,date,num_bikes,num_racks,station,time,num_bikes_matches_bike_numbers
27414,"[""83133"", ""83328"", ""83307"", ""83365"", ""83110""]",2019-08-26,5,15,Royal Victoria Hospital,2019-08-26 13:42:47.404538,False
20537,"[""83133"", ""83328"", ""83307"", ""83365"", ""83110""]",2019-08-26,5,15,Royal Victoria Hospital,2019-08-26 13:44:47.945324,False
46245,"[""83133"", ""83328"", ""83307"", ""83365"", ""83110""]",2019-08-26,5,15,Royal Victoria Hospital,2019-08-26 13:45:47.203333,False
25141,"[""83133"", ""83328"", ""83307"", ""83365"", ""83110""]",2019-08-26,5,15,Royal Victoria Hospital,2019-08-26 13:47:45.866105,False
23586,"[""83133"", ""83328"", ""83307"", ""83365"", ""83110""]",2019-08-26,5,15,Royal Victoria Hospital,2019-08-26 13:47:47.364551,False

In [14]:
df['station'].unique()


cleaned_df = df[df['station'].map(lambda x: not x.isdigit())]

import json 
def list_to_str(x):
    l = json.loads(x)
    if l == ['']: return []
    return l

cleaned_df['bike_numbers'] = cleaned_df['bike_numbers'].map(list_to_str)
#print(len(df), len(cleaned_df))

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [15]:
cleaned_df.head()

,bike_numbers,date,num_bikes,num_racks,station,time,num_bikes_matches_bike_numbers
0,[],2019-08-29,0,11,Carrick Hill / St Patricks Church,2019-08-29 11:54:47.918721,False
1,[82985],2019-09-21,1,7,Antrim Road / Duncairn Centre,2019-09-21 13:14:47.274609,False
2,[],2019-09-21,0,14,Stranmillis,2019-09-21 13:14:47.274609,False
3,[],2019-09-18,0,14,Queens University / Botanic Gardens,2019-09-18 19:21:47.391493,False
5,[],2019-09-24,0,14,Girwood Community Hub / Cliftonville Park Avenue,2019-09-24 10:18:47.322848,False

In [16]:
cleaned_df['date'].unique()

array(['2019-08-29', '2019-09-21', '2019-09-18', '2019-09-24',
       '2019-09-30', '2019-09-17', '2019-10-01', '2019-09-26',
       '2019-09-07', '2019-09-25', '2019-09-27', '2019-09-04',
       '2019-09-03', '2019-09-19', '2019-09-23', '2019-09-20',
       '2019-08-31', '2019-09-22', '2019-09-13', '2019-09-16',
       '2019-08-30', '2019-08-28', '2019-09-06', '2019-10-06',
       '2019-09-09', '2019-09-02', '2019-09-15', '2019-09-05',
       '2019-09-01', '2019-10-05', '2019-10-03', '2019-09-29',
       '2019-08-27', '2019-09-28', '2019-09-14', '2019-09-08',
       '2019-09-11', '2019-09-10', '2019-10-04', '2019-10-02',
       '2019-08-26', '2019-09-12', '2019-10-07'], dtype=object)

In [17]:
def something(x):
    x = x.sort_values('time')
    out = []
    arrived_agg = []
    for date, day in x.groupby('date'):
        print(date)
        print('-'*10)

        left, arrived = [], []
        for station_name, station in day.groupby('station'):     

            for(old_idx, old_row), (new_idx, new_row) in zip(station[:-1].iterrows(),station[1:].iterrows()):
                for bike in old_row['bike_numbers']:
                    if not bike in new_row['bike_numbers']:
                        left.append( (bike, new_row['time'], station_name))

                for bike in new_row['bike_numbers']:
                    if not bike in old_row['bike_numbers']:
                        arrived.append( (bike, new_row['time'], station_name))

        left = sorted(left, key=lambda x: x[1])
        arrived = sorted(arrived, key=lambda x: x[1])

        journeys = []
        for (left_bike, left_time, left_station) in left:

            for i, (arrived_bike, arrived_time, arrived_station) in enumerate(arrived):
                 if left_bike == arrived_bike and arrived_time > left_time:
                    journeys.append({
                        'bike_id': left_bike,
                        'left_station': left_station,
                        'arrived_station': arrived_station,
                        'left_time': left_time,
                        'arrived_time': arrived_time
                    })

                    arrived.pop(i)

        out.extend(journeys)
        arrived_agg.append(arrived)
        
    out = pd.DataFrame(out)
        
    return out, arrived_agg

In [18]:
import time
t = time.time()
raw_journeys, arrived = something(cleaned_df[cleaned_df['time'].map(lambda x: x.month) == 9])
print(time.time() - t)

2019-09-01
----------
2019-09-02
----------
2019-09-03
----------
2019-09-04
----------
2019-09-05
----------
2019-09-06
----------
2019-09-07
----------
2019-09-08
----------
2019-09-09
----------
2019-09-10
----------
2019-09-11
----------
2019-09-12
----------
2019-09-13
----------
2019-09-14
----------
2019-09-15
----------
2019-09-16
----------
2019-09-17
----------
2019-09-18
----------
2019-09-19
----------
2019-09-20
----------
2019-09-21
----------
2019-09-22
----------
2019-09-23
----------
2019-09-24
----------
2019-09-25
----------
2019-09-26
----------
2019-09-27
----------
2019-09-28
----------
2019-09-29
----------
2019-09-30
----------
126.63297009468079

In [19]:
raw_journeys.head(10)

,arrived_station,arrived_time,bike_id,left_station,left_time
0,Ormeau Road / Somerset Street,2019-09-01 00:39:47.567153,83441,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888
1,Ormeau Road / Rosetta Roundabout,2019-09-01 14:08:47.751416,83441,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888
2,Ormeau Road / Somerset Street,2019-09-01 00:39:47.567153,82880,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888
3,Queens University / Botanic Gardens,2019-09-01 08:00:47.245049,82880,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888
4,City Hall,2019-09-01 09:46:47.444455,82880,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888
5,Queens University / Botanic Gardens,2019-09-01 12:29:47.669145,82880,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888
6,Stranmillis,2019-09-01 01:03:47.285245,83279,Lanyon Station Mays Meadow,2019-09-01 00:42:47.366793
7,CS Lewis,2019-09-01 11:14:47.509495,83279,Lanyon Station Mays Meadow,2019-09-01 00:42:47.366793
8,CS Lewis,2019-09-01 11:53:47.350601,83279,Lanyon Station Mays Meadow,2019-09-01 00:42:47.366793
9,CS Lewis,2019-09-01 15:37:47.226678,83279,Lanyon Station Mays Meadow,2019-09-01 00:42:47.366793

In [20]:
len(raw_journeys)

12527

In [21]:
raw_journeys['bike_id'].unique()

array(['83441', '82880', '83279', '83199', '83017', '82837', '83140',
       '83263', '82828', '82951', '83386', '83012', '82994', '82845',
       '82830', '82876', '83336', '82950', '83349', '83163', '83019',
       '83447', '83007', '82918', '82853', '83115', '82856', '82859',
       '83062', '83361', '83170', '83365', '82833', '82946', '83456',
       '82852', '83301', '83114', '83099', '82930', '83122', '82929',
       '83183', '82943', '82974', '83434', '83116', '82854', '82869',
       '83070', '83338', '83264', '83464', '82935', '83164', '82999',
       '83401', '83030', '82872', '82996', '82898', '83108', '83332',
       '83329', '83194', '83110', '83005', '82984', '83071', '83054',
       '82882', '83094', '83002', '83141', '83133', '83136', '83243',
       '83212', '83265', '83286', '82866', '83061', '82892', '83107',
       '83396', '83103', '83343', '83262', '82919', '83242', '83315',
       '83202', '83342', '82956', '82843', '83452', '83195', '83155',
       '83302', '83328', '83419', '82915', '83035', '82881', '82864',
       '82920', '83157', '83096', '83168', '83026', '83267', '83174',
       '82932', '83209', '82871', '82831', '82985', '83469', '83198',
       '82851', '83285', '82870', '83261', '83316', '83256', '83451',
       '83150', '83009', '82890', '82889', '83290', '82849', '83104',
       '83465', '83392', '83023', '83251', '83175', '83117', '83079',
       '83086', '83237', '82987', '83154', '83109', '82839', '82938',
       '83455', '83345', '83025', '82874', '82868', '83216', '83266',
       '83050', '83306', '83172', '83208', '83011', '83160', '83057',
       '83003', '83173', '83222', '82973', '82862', '82978', '82945',
       '82971', '82844', '83435', '82850', '83135', '82986', '82981',
       '83153', '83351', '83218', '83203', '82970', '83333', '82959',
       '83446', '83152', '83326', '82976', '83318', '83368', '82835',
       '83047', '83448', '83176', '83076', '82884', '83376', '82982',
       '83400'], dtype=object)

In [22]:
journeys = raw_journeys[raw_journeys['left_time'].map(lambda x: x.month) == 9]
journeys['length'] = journeys['arrived_time'] - journeys['left_time']

In [23]:
journeys['length'].describe()

count                     12527
mean     0 days 05:13:48.792979
std      0 days 04:45:52.035852
min      0 days 00:00:59.201641
25%      0 days 00:40:00.142051
50%      0 days 04:21:00.022383
75%      0 days 08:54:00.113841
max      0 days 23:56:01.368137
Name: length, dtype: object

In [24]:
journeys['journey'] = journeys[['left_station', 'arrived_station']].apply(lambda x: ' --> '.join(x), axis=1)

In [45]:
journeys.head(10)

,arrived_station,arrived_time,bike_id,left_station,left_time,length,journey,same
0,Ormeau Road / Somerset Street,2019-09-01 00:39:47.567153,83441,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888,00:18:00.301265,Victoria Square / Victoria Street --> Ormeau R...,False
1,Ormeau Road / Rosetta Roundabout,2019-09-01 14:08:47.751416,83441,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888,13:47:00.485528,Victoria Square / Victoria Street --> Ormeau R...,False
2,Ormeau Road / Somerset Street,2019-09-01 00:39:47.567153,82880,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888,00:18:00.301265,Victoria Square / Victoria Street --> Ormeau R...,False
3,Queens University / Botanic Gardens,2019-09-01 08:00:47.245049,82880,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888,07:38:59.979161,Victoria Square / Victoria Street --> Queens U...,False
4,City Hall,2019-09-01 09:46:47.444455,82880,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888,09:25:00.178567,Victoria Square / Victoria Street --> City Hall,False
5,Queens University / Botanic Gardens,2019-09-01 12:29:47.669145,82880,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888,12:08:00.403257,Victoria Square / Victoria Street --> Queens U...,False
6,Stranmillis,2019-09-01 01:03:47.285245,83279,Lanyon Station Mays Meadow,2019-09-01 00:42:47.366793,00:20:59.918452,Lanyon Station Mays Meadow --> Stranmillis,False
7,CS Lewis,2019-09-01 11:14:47.509495,83279,Lanyon Station Mays Meadow,2019-09-01 00:42:47.366793,10:32:00.142702,Lanyon Station Mays Meadow --> CS Lewis,False
8,CS Lewis,2019-09-01 11:53:47.350601,83279,Lanyon Station Mays Meadow,2019-09-01 00:42:47.366793,11:10:59.983808,Lanyon Station Mays Meadow --> CS Lewis,False
9,CS Lewis,2019-09-01 15:37:47.226678,83279,Lanyon Station Mays Meadow,2019-09-01 00:42:47.366793,14:54:59.859885,Lanyon Station Mays Meadow --> CS Lewis,False

In [74]:
journeys['same'] = journeys['left_station'] == journeys['arrived_station']

In [75]:
journeys.head(10)

,arrived_station,arrived_time,bike_id,left_station,left_time,length,journey,same
0,Ormeau Road / Somerset Street,2019-09-01 00:39:47.567153,83441,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888,00:18:00.301265,Victoria Square / Victoria Street --> Ormeau R...,False
1,Ormeau Road / Rosetta Roundabout,2019-09-01 14:08:47.751416,83441,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888,13:47:00.485528,Victoria Square / Victoria Street --> Ormeau R...,False
2,Ormeau Road / Somerset Street,2019-09-01 00:39:47.567153,82880,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888,00:18:00.301265,Victoria Square / Victoria Street --> Ormeau R...,False
3,Queens University / Botanic Gardens,2019-09-01 08:00:47.245049,82880,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888,07:38:59.979161,Victoria Square / Victoria Street --> Queens U...,False
4,City Hall,2019-09-01 09:46:47.444455,82880,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888,09:25:00.178567,Victoria Square / Victoria Street --> City Hall,False
5,Queens University / Botanic Gardens,2019-09-01 12:29:47.669145,82880,Victoria Square / Victoria Street,2019-09-01 00:21:47.265888,12:08:00.403257,Victoria Square / Victoria Street --> Queens U...,False
6,Stranmillis,2019-09-01 01:03:47.285245,83279,Lanyon Station Mays Meadow,2019-09-01 00:42:47.366793,00:20:59.918452,Lanyon Station Mays Meadow --> Stranmillis,False
7,CS Lewis,2019-09-01 11:14:47.509495,83279,Lanyon Station Mays Meadow,2019-09-01 00:42:47.366793,10:32:00.142702,Lanyon Station Mays Meadow --> CS Lewis,False
8,CS Lewis,2019-09-01 11:53:47.350601,83279,Lanyon Station Mays Meadow,2019-09-01 00:42:47.366793,11:10:59.983808,Lanyon Station Mays Meadow --> CS Lewis,False
9,CS Lewis,2019-09-01 15:37:47.226678,83279,Lanyon Station Mays Meadow,2019-09-01 00:42:47.366793,14:54:59.859885,Lanyon Station Mays Meadow --> CS Lewis,False

In [73]:
journeys['journey'].value_counts().head(20)

Ormeau Park --> Ormeau Park                                                    163
Ormeau Park --> Lanyon Station Mays Meadow                                     133
Donegall Quay --> Great Victoria Street / Hope Street                          117
Ormeau Park --> Odyssey / Sydenham Road                                        108
Great Victoria Street / Hope Street --> Great Victoria Street / Hope Street     88
Ormeau Road / Rosetta Roundabout --> City Hall                                  86
Ormeau Park --> Alfred Street                                                   82
Donegall Quay --> Victoria Square / Victoria Street                             79
Ormeau Park --> Donegall Quay                                                   79
Ormeau Park --> Corporation Square                                              78
Ormeau Park --> Titanic Belfast Met                                             77
Ormeau Park --> Gasworks (Lagan Towpath)                                        75
Ormeau Road / Somerset Street --> Odyssey / Sydenham Road                       74
Ormeau Park --> Arthur Street / Chichester Street                               71
Stranmillis --> Lanyon Station Mays Meadow                                      70
Stranmillis --> Stranmillis                                                     69
Ormeau Park --> City Hall                                                       66
Stranmillis --> Corporation Square                                              63
Victoria Square / Victoria Street --> Victoria Square / Victoria Street         63
Donegall Quay --> Donegall Quay                                                 62
Name: journey, dtype: int64

In [27]:
journeys['left_station'].value_counts()

Ormeau Park                                         1832
Ormeau Road / Somerset Street                       1016
Stranmillis                                          981
Ormeau Road / Rosetta Roundabout                     878
Donegall Quay                                        514
CS Lewis                                             485
Titanic Belfast Met                                  457
Belfast City Hospital                                443
Castle Place / Royal avenue                          357
Odyssey / Sydenham Road                              349
Queens University / University Road                  326
Corporation Square                                   301
Great Victoria Street / Hope Street                  300
Botanic Avenue                                       254
Queens University / Botanic Gardens                  245
Bankmore Square / Dublin Road                        234
Connswater                                           231
City Hall                                            220
Europa Bus Station / Blackstaff Square               212
Victoria Square / Victoria Street                    190
Alfred Street                                        183
Lanyon Station Mays Meadow                           179
Bradbury Place                                       172
Cathedral Gardens                                    170
Carrick Hill / St Patricks Church                    169
Grovsner Road / Servia Street                        163
Gasworks (Cromac Street)                             155
Shankill Leisure Centre / Shankill Road              151
Titanic Walkway                                      151
Cotton Court                                         144
College Square East                                  130
Royal Avenue / Castlecourt                           111
Waterfront                                           108
Carslile Circus                                      101
Antrim Road / Duncairn Centre                         88
Skainos                                               87
Allstate                                              72
Gasworks (Lagan Towpath)                              64
St Georges Market / Cromac Square                     62
Royal Victoria Hospital                               60
Arthur Street / Chichester Street                     54
Millfield / Divis Street                              53
Linenhall / Donegall Square South                     51
Fraser Pass                                           17
Girwood Community Hub / Cliftonville Park Avenue       6
Falls Road                                             1
Name: left_station, dtype: int64

In [29]:
journeys['arrived_station'].value_counts()

Odyssey / Sydenham Road                             743
Ormeau Park                                         637
Donegall Quay                                       613
Lanyon Station Mays Meadow                          611
City Hall                                           575
Titanic Belfast Met                                 562
Corporation Square                                  521
Great Victoria Street / Hope Street                 496
Alfred Street                                       479
Stranmillis                                         436
Victoria Square / Victoria Street                   423
Botanic Avenue                                      412
Arthur Street / Chichester Street                   409
Queens University / Botanic Gardens                 362
Ormeau Road / Somerset Street                       347
Castle Place / Royal avenue                         336
Waterfront                                          300
Bankmore Square / Dublin Road                       297
Belfast City Hospital                               296
Gasworks (Cromac Street)                            274
Gasworks (Lagan Towpath)                            273
Queens University / University Road                 267
Allstate                                            254
Europa Bus Station / Blackstaff Square              239
Titanic Walkway                                     235
Royal Avenue / Castlecourt                          210
Ormeau Road / Rosetta Roundabout                    201
CS Lewis                                            196
Cotton Court                                        188
Cathedral Gardens                                   188
Linenhall / Donegall Square South                   171
Grovsner Road / Servia Street                       169
St Georges Market / Cromac Square                   142
Bradbury Place                                      119
Shankill Leisure Centre / Shankill Road             101
College Square East                                  97
Connswater                                           76
Antrim Road / Duncairn Centre                        59
Carrick Hill / St Patricks Church                    55
Millfield / Divis Street                             47
Carslile Circus                                      41
Skainos                                              29
Royal Victoria Hospital                              14
Falls Road                                           10
Girwood Community Hub / Cliftonville Park Avenue      7
Fraser Pass                                           5
Mater Hospital / Crumlin Road                         5
Name: arrived_station, dtype: int64